Flask==3.0.2
Werkzeug==3.0.1
gunicorn==21.2.0
python-dotenv==1.0.1
bcrypt==4.3.0
flask-socketio==5.5.1
eventlet==0.34.2
psycopg2-binary==2.9.10
SQLAlchemy==2.0.40
Flask-SQLAlchemy==3.1.1
sqlalchemy-utils==0.41.2
openai==1.76.2
setuptools>=65.0.0
requests==2.31.0 